.row {
    --bs-gutter-x: 0;
}

::ng-deep nb-layout-column,
nb-layout {
    padding: 0px !important;
}

.success {
    background-color: aqua !important;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #fff;

    .content {
        background-color: #e6edfd;
        display: flex;
        // justify-content: center;
        // align-items: center;

        .conti {
            height: 10vh;
            width: 674px;
            margin-left: 30px;
            margin-top: 10px;
            // background-color: #6d89bd;


        }

        .conti-logo {
            width: 200px;
            height: 10vh;
            // background-color: #fff;

        }

        .image {
            // margin-bottom: 20px !important;

            .vendor-img {
                width: 510px;
                transform: rotateY(180deg);

            }
        }
    }

    .login {
        display: flex;
        justify-content: center;
        min-height: 30%;
        align-items: center;
        background-color: #6d89bd;

        .login-form {
            min-height: inherit;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // background-color: #6d89bd;
            padding: 10px;

            background-color: white;
            border-top-right-radius: 22px;
            border-bottom-left-radius: 22px;
            // box-shadow: 0px 0px 20px #afafaf;

            .input-label {
                font-size: 12px;
                margin-bottom: 10px;
                color: #5c5c5c;
                font-weight: 800;

            }

            .form-group {
                border-bottom: 1px solid;
                height: 30px;
                width: 212px;
                display: flex;
                margin-bottom: 20px;

                ::placeholder {
                    color: #acacac;
                    opacity: 1;
                    font-size: 12px;
                    letter-spacing: 0.3px;
                }

                .eye-icon {

                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .form-control {
                    width: 300px;
                }

                .user-img {
                    height: 16px;
                    min-width: 16px;
                    margin-right: 10px;
                }

                .input-email {
                    width: 160px;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    height: 20px;
                    font-weight: 800;
                }
            }

            .form-group-heading {
                height: 50px;
                font-family: 'Gill Sans';
                margin-bottom: 12px;
                padding-top: 14px;
                font-size: 28px;
                font-weight: 600;
            }

            .btn {
                margin-top: 10px;
                margin-bottom: 20px;
                height: 30px;
                width: 214px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0px;
                background-color: #6d89bd;
                outline: none;
                border: #6d89bd;
            }

            .form-group-title {
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: start;

                .title {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    height: 38px;
                    margin-top: 12px;

                }

                .logo {
                    width: 130px !important;
                    height: 44px !important;
                    margin-top: 10px !important;

                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .vendor-img {
        max-width: 480px;
        margin-top: 356px;
        margin-left: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .login-form {
        min-width: 300px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .login-form {
        min-width: 240px;
    }
}


.red-snackbar {
    background-color: aqua;
}

.blue-snackbar {
    background-color: azure;
}