<div class="main row">
    <div class="content col-md-7 col-sm-12  d-none d-md-block d-lg-flex ">
        <div class="image">
            <img class="vendor-img" src="assets\images\about.png" alt="vensor">
        </div>
    </div>
    <div class="login col-md-5">
        <div class="login-form shadow-lg">
            <div class="form-group-title">
                <span class="title">Welcome to  </span>
                <span><img class="logo" src="assets\images\continentallogo.png" alt="logo"></span>
            </div>
            <div class="form-group-heading">
                Login
            </div>
            <form [formGroup]="loginPage">
                <div class="input-label"><span>UserId</span> </div>
                <div class="form-group">
                   
                    <div class="user"><img class="user-img" src="assets\images\user.png" alt="user"></div>
                    <div><input class="input-email" type="text" placeholder="Enter UserId" formControlName="userId">
                    </div>
                </div>
                <div class="input-label"><span>Password</span> </div>
                <div class="form-group">
                    <div class="user"><img class="user-img" src="assets\images\lock.png" alt="user"></div>
                    <div><input class="input-email" [type]="showPassword ? 'text' : 'password'" name="password"
                            placeholder="Enter Password" formControlName="passWord">
                        
                    </div>
                    <mat-icon class="eye-icon" matSuffix (click)="togglePasswordVisibility()">
                        {{showPassword?'visibility_off':'visibility'}}
                    </mat-icon>
                </div>
                <button class="btn btn-primary" (click)="login()" [disabled]="loginPage.invalid">
                    Login
                </button>
            </form>
        </div>

    </div>

</div>