::ng-deep .menu-item a:hover,
::ng-deep .menu-icon a:hover .menu-icon,
::ng-deep .menu-item a.active,
::ng-deep .menu-item a.active .menu-icon,
::ng-deep .menu-item a:hover .menu-icon {
    color: #6d89bd !important;
}

::ng-deep .menu-item a:focus {
    color: #6d89bd !important;
}

::ng-deep .menu-item a:focus .menu-icon {
    color: #6d89bd !important;
}