::ng-deep .menu-item a:hover,
::ng-deep .menu-icon a:hover .menu-icon,
::ng-deep .menu-item a.active,
::ng-deep .menu-item a.active .menu-icon,
::ng-deep .menu-item a:hover .menu-icon {
    color: #6d89bd !important;
}

::ng-deep .menu-item a:focus {
    color: #6d89bd !important;
}

::ng-deep .menu-item a:focus .menu-icon {
    color: #6d89bd !important;
}


::ng-deep .mat-mdc-tab-labels {
    flex-direction: column !important;
}



::ng-deep .mat-mdc-ink-bar {
    display: none !important;
}

::ng-deep .mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-top-width: 0px !important;
}

::ng-deep .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
    display: none !important;
}

.mat-icon {
    font-size: 16px;
    color: #aaaaaa;
    width: fit-content;
    height: 18px;

}

.header-mat-icon {
    font-size: 8px;
    color: white;
}

.isClicked {
    color: #425e91 !important;
}


::ng-deep .mdc-tab {
    padding-left: 0px !important;
    justify-content: start !important;
}


::ng-deep .mat-mdc-tab-disabled {
    font-weight: bold !important;
    text-shadow: 0 0 black;
    font-size: 18px !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    gap: 10px;
    justify-content: end;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #425e91 !important;
}