<div *ngIf="!showSpinner" class="master-data-table-component d-block d-sm-flex gap-2 justify-content-center">
    <div class="workflow-table-container">
        <div class="workflow-table">
            <div class="workflow-table-names d-flex flex-column" *ngIf="tableNames?.length">
                <div class="table-list-header fs-6 text-dark">Table Names</div>
                <div *ngFor="let table of tableNames"
                    [ngClass]="table.TableName == selectedTable ? 'selectedTableHighlight' : ''"
                    (click)="selectedworkflowTableName(table.TableName)" class="table-names">
                    <div class="d-flex justify-content-between" [matTooltip]="toolTipData[table.TableName]"
                        matTooltipPosition="right" matTooltipShowDelay="200" matTooltipHideDelay="200">
                        <span>{{table.TableName | titlecase}}
                        </span>
                        <span>{{ table.RowCount }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="master-data-container d-flex flex-column gap-4">
        <div class="master-data-header d-flex justify-content-between h3">
            <span class="table-name">{{workFlowTable || "WorkFlowTable" }} - <span class="fs-4">{{(selectedTable |
                    titlecase) || "TableName" }}</span>
                <span class="info-tooltip ms-2"><mat-icon class="info-icon" [matTooltip]="lastUpdatedDate"
                        matTooltipPosition="right">info</mat-icon>
                </span>
            </span>
            <span class="template-download-btn d-flex justify-content-center align-items-center">
                <button class="btn d-flex align-items-center gap-2" (click)="downloadTemplate()">
                    <i class="bi bi-file-earmark-arrow-down"></i>
                    Download
                    <span class="d-none d-sm-flex">Template</span>
                </button>
            </span>
        </div>

        <div class="search-input col-8 col-md-3">
            <form class="d-flex justify-content-start ps-2" [formGroup]="masterTableFormGroup"
                *ngFor="let control of masterTableFormGroup.controls | keyvalue">
                <mat-form-field appearance="outline">
                    <mat-label>{{ control.key }}</mat-label>
                    <input matInput type="text" [formControlName]="control.key">
                </mat-form-field>
            </form>
        </div>

        <div class="action-buttons d-flex gap-sm-0 gap-2 flex-wrap gap-2 justify-content-between">
            <div class="execution-btn">
                <button class="btn d-flex gap-2 justify-content-center" (click)="executeSearch()">
                    <i class="bi bi-search"></i>
                    Execute</button>
            </div>
            <div class="md-download-btn">
                <button class="btn d-flex gap-2 justify-content-center" (click)="downloadMasterData()">
                    <i class="bi bi-download"></i>
                    MD Download</button>
            </div>
            <div class="md-upload-btn">
                <input type="file" id="file-upload" [formControl]="uploadFile" class="d-none" accept=".xlsx"
                    (change)="uploadMasterData($event)" (click)="$event.target.value = null">
                <label for="file-upload" class="btn d-flex gap-2 justify-content-center">
                    <i class="bi bi-upload"></i>MD Upload
                </label>
            </div>
        </div>

        <div class="table-container mt-1">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- <mat-icon (click)="dataSource.data.length && editRow = true">edit_square</mat-icon> -->
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element; index as i">
                        <mat-icon class="edit-squareBtn" *ngIf="!editRow"
                            (click)="editSelectedRow(i)">edit_square</mat-icon>
                        <span class="d-flex gap-2">
                            <mat-icon *ngIf="editRow && editingRowIndex == i" class="saveBtn"
                                (click)="saveEdit(i)">check</mat-icon>
                            <mat-icon *ngIf="editRow && editingRowIndex == i" class="cancelBtn"
                                (click)="cancelEdit(i)">close</mat-icon>
                        </span>
                    </td>
                </ng-container>

                <ng-container *ngFor="let data of tableColumns;" [matColumnDef]="data">
                    <th mat-header-cell *matHeaderCellDef>
                        {{data}}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <span *ngIf="editingRowIndex != i">{{element[data]}}</span>
                        <form [formGroup]="editForm">
                            <span *ngIf="editingRowIndex != -1 && editingRowIndex == i">
                                <mat-form-field appearance="outline">
                                    <input matInput type="text" class="edit-input" [readonly]="data == 'Id'"
                                        value="{{dataSource.data[i][data]}}" formControlName="{{data}}">
                                    <mat-error *ngIf="editForm.get(data).errors"></mat-error>
                                </mat-form-field>
                            </span>
                        </form>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
                <tr mat-row *matRowDef="let row; columns : displayedColumns; "></tr>
            </table>
        </div>
    </div>
</div>

<div *ngIf="showSpinner" class="mat-spinner-container d-flex justify-content-center align-items-center">
    <mat-spinner class="custom-spinner"></mat-spinner>
</div>